{% extends 'base.html.twig' %}

 {% block content %}


    <div id="contenu_1">

                                    <div class="contenant_1">
                                        TABLEAU CARACTERISTIQUE<br/><br/>                              
                                        Marque et modèle : Toyota Camry<br/><br/>
                                        Année de fabrication : 1988<br/><br/>
                                        Type de carrosserie : berline<br/><br/>
                                        Moteur : Cylindrée<br/><br/>
                                        Transmission : Manuelle<br/><br/>
                                        Performances : Vitesse maximale<br/><br/>
                                        Capacité d'accueil : 6<br/><br/>
                                        Émissions de CO2 : 120<br/><br/>
                                        Prix : 1200<br/><br/>
                                    </div>


                                    <div class="contenant_1">
                                            GALLERIE
                                            <div class="content_1">
                                                            <div class="content_2">
                                                                    <div class="img_galerie_1">
                                                                        <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt="">
                                                                    </div>
                                                                    <div class="img_galerie_2">
                                                                        <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt="">
                                                                    </div>
                                                            </div>

                                                            <div class="content_2">
                                                                    <div class="img_galerie_3">
                                                                        <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt="">
                                                                    </div>
                                                                    <div class="img_galerie_4">
                                                                        <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt="">
                                                                    </div>
                                                           </div>
                                            </div>
                                </div>       
         </div>

        <div id="forum_discussion">

                   <div class="">
                        FORMUM DISCUSSION
                   </div>

                   <div class="">
                         FORMULAIRE
                   </div>

                   <div class=" message_couleur">
                    Nom: Arthur Prenom: Vange<br/>    
                    MESSAGE LECTEUR
                   </div>

                   <div class=" message_couleur">
                    Nom: Arthur Prenom: Vange<br/>    
                    MESSAGE LECTEUR
                   </div>

                   <div class=" message_couleur">
                    Nom: Arthur Prenom: Vange<br/>    
                    MESSAGE LECTEUR
                   </div>
                   
        </div>





 {% endblock %}