{% extends 'base.html.twig' %}



{% block content %}
                    
                     <h4>Liste des témoignages</h4>
                    <div class="row">
                                
                                  {% for temoignage in temoignages  %}

                                <div class="col-md-6">                                           
                                 {{temoignage.commentaire}}   
                                </div>


                                <div class="col-md-3">
                                <a href="{{path('temoignages_approuver',{'id':temoignage.id})}}">(Approuver)</a>    
                                </div>

                           
                           
                               <div class="col-md-3">
                               <a href="{{path('temoignages_suppression',{'id':temoignage.id})}}">(Supprimer)</a>    
                               </div>

                                {% endfor  %}  


                    </div>

{% endblock %}
